@font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2") format("woff2");
    font-weight: 500;
    font-display: swap;
}


* {
    margin: 0 auto;
    padding: 0px;
    font-family: "Pretendard", sans-serif;
}


.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.backimg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-size: 100% 100%;
    opacity: 50%;
    z-index: -300;
}

.square {
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url('img/closet.svg');
    background-size: cover;
    position: absolute;
    z-index: 500;

    transition: transform 1.5s ease;
}

.square img:hover {
    opacity: 100;
}

.square img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 옷장 배경용 */
    z-index: 600;
}

.square .start_up {
    position: absolute;
    bottom: 5%; /* 아래쪽 배치 */
    left: 50%;
    transform: translateX(-50%);
    width: 1.5vmax; /* ✅ 원하는 크기 지정 */
    height: auto;
    z-index: 700;
    cursor: pointer;
    opacity: 50%;
}

.start_up:hover{
    opacity: 90%;
}

/*옷걸이 봉*/
.bong {
    width: 100%;
    height: 1.5vmax;
    margin-top: 9%;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.767);
    z-index: 600;
}
/*옷걸이*/
.hanger-ani {
    transition: shake 0.3s infinite ease; /*마우스 호버시 흔들리는 애니메이션*/
}

.hanger-ani:hover {
    animation: shake 0.3s infinite ease;
    z-index: 1000;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes moving-right {
    0% {
        transform: translateX(0vw);
    }
    10% {
        transform: translateX(20vw);
    }
    25% {
        transform: translateX(30vw);
    }
    45% {
        transform: translateX(40vw);
    }
    60% {
        transform: translateX(50vw);
    }
    70% {
        transform: translateX(60vw);
    }
    80% {
        transform: translateX(80vw);
    }
    90% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(130vw);
    }
}

@keyframes moving-left {
    0% {
        transform: translateX(0vw);
    }
    10% {
        transform: translateX(-20vw);
    }
    25% {
        transform: translateX(-30vw);
    }
    45% {
        transform: translateX(-40vw);
    }
    60% {
        transform: translateX(-50vw);
    }
    70% {
        transform: translateX(-60vw);
    }
    80% {
        transform: translateX(-80vw);
    }
    90% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(-130vw);
    }
}

.style {
    width: 100%;
    height: 100%;
    margin-left: 5;
    margin-right: 5%;
}

.hanger1 img {
    position: relative;
    width: 25%;
    height: 58%;
    margin-top: -60%;
    margin-bottom: -5.6%;
    margin-left: 16vmax;
    margin-right: 0;

    filter: drop-shadow(0px 15px 15px #000);

    animation: cloth 2.8s linear;
}

.hanger2 img {
    position: relative;
    width: 22%;
    height: 58%;
    margin-top: -50%;
    margin-bottom: -1%;
    margin-left: 30vmax;

    filter: drop-shadow(0px 15px 15px #000);

    animation: cloth 2.8s 1 linear;
}

.hanger3 img {
    position: relative;
    width: 20%;
    height: 58%;
    margin-top: -60%;
    margin-bottom: 2.6%;
    margin-left: 42vmax;

    filter: drop-shadow(0px 15px 15px #000);

    animation: cloth 2.8s 1 linear;
}

.hanger4 img {
    position: relative;
    width: 13%;
    height: 58%;
    margin-top: -60%;
    margin-bottom: 0.3%;
    margin-left: 54vmax;

    filter: drop-shadow(0px 15px 15px #000);

    animation: cloth 2.8s 1 linear;
}

.hanger5 img {
    position: relative;
    width: 18%;
    height: 55%;
    margin-top: -70%;
    margin-bottom: 6%;
    margin-left: 63vmax;
    filter: drop-shadow(0px 15px 15px #000);

    animation: cloth 2.8s 1 linear;
}

.hanger6 img {
    position: relative;
    width: 15%;
    height: 50%;
    margin-top: -1.5%;
    margin-bottom: 0%;
    margin-left: 10vmax;
    z-index: -2;
    filter: drop-shadow(0px 15px 15px #000);
    opacity: 40%;

    animation: 2.8s 1 linear;
}

.hanger7 img {
    position: relative;
    width: 14%;
    height: 40%;
    margin-top: -70%;
    margin-bottom: 4.5%;
    margin-left: 75vmax;
    z-index: -2;
    filter: drop-shadow(0px 15px 15px #000);
    opacity: 40%;

    animation: 2.8s 1 linear;
}

.hanger8 img {
    position: relative;
    width: 15%;
    height: 50%;
    margin-top: -70%;
    margin-bottom: 16%;
    margin-left: 38vmax;
    z-index: -2;
    filter: drop-shadow(0px 15px 15px #000);
    opacity: 40%;

    animation: 2.8s 1 linear;
}

@keyframes cloth {
    0% {
        transform: translateX(90vw);
    }
    25% {
        transform: translateX(70vw);
    }
    50% {
        transform: translateX(50vw);
    }
    80% {
        transform: translateX(30vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes move-back-left {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

@keyframes move-back-right {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

/*row안에 들어오는 애들*/
.row {
    width: 100%;
    padding: 0px 0px;
}

.row2 {
    width: 100%;
    padding: 0px 0px;
    margin-left: 5vmax;
    margin-right: 12vmax;
}

.col1 {
    width: 16.66%;
}
.col2 {
    width: 33.33%;
}
.col3 {
    width: 50%;
}
.col4 {
    width: 66.66%;
}
.col5 {
    width: 83.32%;
}
.col6 {
    width: 100%;
}

/*가운데 정렬*/
.inline-block-center {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    justify-content: center;
}

/*시작 화면 멘트*/
.text-main1 {
    position: absolute;
    font-size: 0.1rem;
    color: #c4c4c4;
    font-weight: 400;
    z-index: 600;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);

    animation: fadeout 5.5s backwards;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/*종료 화면 멘트*/
.text-main2 {
    position: absolute;
    font-size: 3vmax;
    color: rgb(211, 211, 211);
    z-index: 900;
    letter-spacing: 0.1vmax;
    margin-top: 40vmax;

    animation: fadein 5s;
    animation-fill-mode: both;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.buttn {
    position: absolute;
    width: 1.8vmax;
    height: 1.8vmax;
    right: 30px;
    top: 3vmax;
    z-index: 499;
}

.buttn:hover {
    width: 2vmax;
    height: 2vmax;
    cursor: pointer;
}

.message {
    margin-top: 18vmax;
    font-size: 4vmax;
    color: rgb(211, 211, 211);
    position: absolute;
    font-family: "LeferiPoint-BlackObliqueA";
}

.title {
    position: absolute;
    color: black;
    margin-top: 3vmax;
    margin-bottom: 1vmax;
    font-family: "LeferiPoint-BlackObliqueA";
}

.sub-title {
    position: absolute;
    color: black;
    margin-top: 4.7vmax;
}

.img title {
    position: absolute;
    color: #d9d9d9;
    margin-left: 50%;
}

.img-sub {
    position: absolute;
    margin-top: 10vmax;
    justify-content: center;
    z-index: 20;
}

.buttn-container {
    display: inline-block;
}

.buttn-container .text-sub {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s;
}

.text-ani {
    position: absolute;
    display: flex;
    margin-left: 40%;
    margin-top: 10%;
}

/*이미지클릭시 나오는 텍스트들*/

.txtBox1 {
    position: absolute;
    font-size: 1.8vmax;
    margin-top: -20vmax;
    margin-left: 43%;
    color: rgb(0, 0, 0);
}

.txtBox2 {
    position: absolute;
    font-size: 1.8vmax;
    margin-top: -20vmax;
    margin-left: 12%;
    color: rgb(0, 0, 0);
}

.txtBox3 {
    position: absolute;
    font-size: 1.8vmax;
    margin-top: -20vmax;
    margin-left: 12%;
    color: rgb(0, 0, 0);
}

.txtBox4 {
    position: absolute;
    font-size: 1.8vmax;
    margin-top: -20vmax;
    margin-left: 23%;
    color: rgb(0, 0, 0);
}

.txtBox5 {
    position: absolute;
    font-size: 1.8vmax;
    margin-top: -25vmax;
    margin-left: 26%;
    color: rgb(0, 0, 0);
}

.bigtxt {
    font-weight: 800;
    font-size: 4vmax;
    font-family: "LeferiPoint-BlackObliqueA";
}

.hmm {
    position: relative;
    width: 2%;
    height: 2%;
    z-index: -1;
    opacity: 30%;
}
